body {
  background-color: gray;
}


.main{
  background-color: black;
  color:#fff;
  height: auto;
  width:400px;
  padding:0px;
  border: radius 10px;
  text-align: center;
  margin: auto;
  
}

.btn{
  height:auto;
  width: 75px;
  flex-wrap: wrap;
  background-color:  gray;
}

.btn-lg{
  display: flex;
  flex-grow: 4; 
  text-align: center;
  align-self: auto;
}
